<div class="container">
  <div class="row pt-5">
    <div class="col-sm-12 col-md-12 col-lg-12 pl-5">
      <p>Rabbit loversは、</br>
        うさぎとうさぎが好きな人の幸せの輪を広げるコミュニティーサイトです。</br></p>
      <p class="pt-2">以下に当てはまる方、ぜひ登録をして交流をしませんか？</br>
        ・うさぎに興味がある</br>
        ・うさぎ初心者</br>
        ・うさぎを飼っている</br>
        ・うさぎを飼っていた</br>
        ・獣医師</br>
        ・ペットショップの方</p>
       <p class="pt-2">こんなことを話題にしています。</br>
        ・食の相談</br>
        ・健康相談</br>
        ・うさぎへの愛を語る</br>
        ・地域ごとのコミュニケーション</br>
        ・ほかの飼い主さんにもオススメしたいこと</br>
        ・うさんぽ会のお知らせ<span style="padding-left: 180px;">などなど！</span></p>
      <p class="pt-2 pb-2">興味をもっていただいた皆さんの参加を楽しみにしております！</br>
        ※悪質な書き込みや誹謗中傷はご遠慮ください。</br>
      　発見次第削除し退会処理をします。</br>
      　快適な交流をするためにもご了承ください。</p>