<div class="container pb-5">
  <div class="row pb-3">
    <div class="col-sm-12 col-md-12 col-lg-12 p-0">
      <h5><%= @user.name %>のいいね一覧</h5>
    </div>
  </div>
  <%= render 'users/shared/rooms_index', rooms: @rooms %>
</div>
