@use '~bootstrap/scss/bootstrap';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, {
  font-family:"M PLUS 1p", "Helvetica Neue", "Hiragino Kaku Gothic ProN", meiryo, sans-serif;
  word-wrap: break-word;
  overflow-wrap: break-word;
}


.navbar-light .navbar-toggler {
    color: rgba(0, 0, 0, 0.5);
    border-color: #999999ba;
}

.flash-message {
  border-radius: 5px;
  padding: 5px 20px;
  margin: 16px 0px;
}
 
.flash-message.notice {
  background-color: #F0FFF0;
  color: #008080;
  border: solid 2px #5F9EA0;
}
 
.flash-message.alert {
  background-color: #FFF0F5;
  color: #930403;
  border: solid 2px #930403;
}

h5 {
  font-size: 1.1rem;
  padding: 0.5em;
  color: #222222;
  background: #DDFFFF;
  border-left: solid 10px #99FFFF;
}

.befor-sign {
  color: inherit;
  text-decoration: none;
  background:
    linear-gradient(
      to right,
      rgba(100, 200, 200, 1),
      rgba(100, 200, 200, 1)
    ),
    linear-gradient(
      to right,
      rgba(0, 204, 204, 1),
      rgba(204, 204, 255, 1),
      rgba(187, 187, 187, 1)
  );
  background-size: 100% 3px, 0 3px;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 400ms;
}

.befor-sign:hover {
  background-size: 0 3px, 100% 3px;
  text-decoration: none;
  color: black;
}

#error_explanation {
  padding-left: 30px;
  h2 {
    font-size: 20px;
  }
}

.new-create-btn {
  .btn {
      padding: 5px 100px;
      border: 0 none;
      font-size: 15px;
      letter-spacing: 1px;
      text-transform: uppercase;
  }
  
  .btn-success {
      background: #B1F9D0;
      color: black;
  }
  
  .btn-success:hover, .btn-success:focus, 
  .btn-success:active, .btn-success:active:focus, .btn-success:active:hover, .btn-success:active.focus,
  .btn-success.active, .btn-success.active:focus, .btn-success.active:hover, .btn-success.active.focus,
  .open > .dropdown-toggle.btn-success, 
  .open > .dropdown-toggle.btn-success:hover,
  .open > .dropdown-toggle.btn-success:focus, 
  .open > .dropdown-toggle.btn-success.focus,
  .btn-success.disabled:hover, .btn-success[disabled]:hover, fieldset[disabled] .btn-success:hover,
  .btn-success.disabled:focus, .btn-success[disabled]:focus, fieldset[disabled] .btn-success:focus,
  .btn-success.disabled.focus, .btn-success[disabled].focus, fieldset[disabled] .btn-success.focus {
      background: #86F9C5;
      color: black;
  }
  
  .btn-success.outline {
      border: 5px solid #64F9C1;
      color: black;
  }
}

.user-login-btn {
  .btn {
      padding: 5px 100px;
      border: 0 none;
      font-size: 15px;
      letter-spacing: 1px;
      text-transform: uppercase;
  }
  
  .btn-primary {
      background: #BAD3FF;
      color: black;
  }
  
  .btn-primary:hover, .btn-primary:focus, 
  .btn-primary:active, .btn-primary:active:focus, .btn-primary:active:hover, .btn-primary:active.focus,
  .btn-primary.active, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary.active.focus,
  .open > .dropdown-toggle.btn-primary, 
  .open > .dropdown-toggle.btn-primary:hover,
  .open > .dropdown-toggle.btn-primary:focus, 
  .open > .dropdown-toggle.btn-primary.focus,
  .btn-primary.disabled:hover, .btn-primary[disabled]:hover, fieldset[disabled] .btn-primary:hover,
  .btn-primary.disabled:focus, .btn-primary[disabled]:focus, fieldset[disabled] .btn-primary:focus,
  .btn-primary.disabled.focus, .btn-primary[disabled].focus, fieldset[disabled] .btn-primary.focus {
      background: #8EB8FF;
      color: black;
  }
  
  .btn-primary.outline {
      border: 5px solid #5D99FF;
      color: black;
  }
}

.guest-login-btn {
  .btn {
      padding: 5px 45px;
      border: 0 none;
      font-size: 15px;
      letter-spacing: 1px;
      text-transform: uppercase;
  }
  
  .btn-light {
      background: #FFCCFF;
      color: black;
  }
  
  .btn-light:hover, .btn-light:focus, 
  .btn-light:active, .btn-light:active:focus, .btn-light:active:hover, .btn-light:active.focus,
  .btn-light.active, .btn-light.active:focus, .btn-light.active:hover, .btn-light.active.focus,
  .open > .dropdown-toggle.btn-light, 
  .open > .dropdown-toggle.btn-light:hover,
  .open > .dropdown-toggle.btn-light:focus, 
  .open > .dropdown-toggle.btn-light.focus,
  .btn-light.disabled:hover, .btn-light[disabled]:hover, fieldset[disabled] .btn-light:hover,
  .btn-light.disabled:focus, .btn-light[disabled]:focus, fieldset[disabled] .btn-light:focus,
  .btn-light.disabled.focus, .btn-light[disabled].focus, fieldset[disabled] .btn-light.focus {
      background: #FFAAFF;
      color: black;
  }
  
  .btn-light.outline {
      border: 5px solid #FF88FF;
      color: black;
  }
}

.search-btn {
  .btn {
      width: 130px;
      hight: 35px;
      padding: 5px 10px;
      border: 0 none;
      font-size: 15px;
      letter-spacing: 1px;
      text-transform: uppercase;
  }
  
  .btn-light {
      background: #dee2e6;
      color: black;
  }
  
  .btn-light:hover, .btn-light:focus, 
  .btn-light:active, .btn-light:active:focus, .btn-light:active:hover, .btn-light:active.focus,
  .btn-light.active, .btn-light.active:focus, .btn-light.active:hover, .btn-light.active.focus,
  .open > .dropdown-toggle.btn-light, 
  .open > .dropdown-toggle.btn-light:hover,
  .open > .dropdown-toggle.btn-light:focus, 
  .open > .dropdown-toggle.btn-light.focus,
  .btn-light.disabled:hover, .btn-light[disabled]:hover, fieldset[disabled] .btn-light:hover,
  .btn-light.disabled:focus, .btn-light[disabled]:focus, fieldset[disabled] .btn-light:focus,
  .btn-light.disabled.focus, .btn-light[disabled].focus, fieldset[disabled] .btn-light.focus {
      background: #C0C0C0;
      color: black;
  }
  
  .btn-light.outline {
      border: 5px solid #808080;
      color: black;
  }
}

.update-btn {
  .btn {
      width: 130px;
      hight: 35px;
      padding: 5px 10px;
      border: 0 none;
      font-size: 15px;
      letter-spacing: 1px;
      text-transform: uppercase;
  }
  
  .btn-secondary {
      background: #DCC2FF;
      color: black;
  }
  
  .btn-secondary:hover, .btn-secondary:focus, 
  .btn-secondary:active, .btn-secondary:active:focus, .btn-secondary:active:hover, .btn-secondary:active.focus,
  .btn-secondary.active, .btn-secondary.active:focus, .btn-secondary.active:hover, .btn-secondary.active.focus,
  .open > .dropdown-toggle.btn-secondary, 
  .open > .dropdown-toggle.btn-secondary:hover,
  .open > .dropdown-toggle.btn-secondary:focus, 
  .open > .dropdown-toggle.btn-secondary.focus,
  .btn-secondary.disabled:hover, .btn-secondary[disabled]:hover, fieldset[disabled] .btn-secondary:hover,
  .btn-secondary.disabled:focus, .btn-secondary[disabled]:focus, fieldset[disabled] .btn-secondary:focus,
  .btn-secondary.disabled.focus, .btn-secondary[disabled].focus, fieldset[disabled] .btn-secondary.focus {
      background: #C299FF;
      color: black;
  }
  
  .btn-secondary.outline {
      border: 5px solid #A16EFF;
      color: black;
  }
}

@media only screen and (max-width: 700px) {
  .scroll {
    white-space: nowrap; 
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
}

a {
  color: #4aa6a4;
}

.marker {
      background: linear-gradient(transparent 75%, #f1ee72bd 75%);
}

.one-table {
  border: 2px solid #e3e8e8;
  border-radius: 10px;
}

.clear-table {
  border: 2px solid #fff0;
  border-radius: 10px;
}

input[type="checkbox"] {
  accent-color: #8d8d8d;
}

input[type="radio"] {
  accent-color: #8d8d8d;
}

.top {
  vertical-align: top;
}

.middle {
  vertical-align: middle;
}

p {
  margin-bottom: 0;
}

.vertical-table {
  @media screen and (max-width: 991px) {
    table {
      display: block;
      width: 100%;
    }
    table tbody {
      display: block;
      width: 100%;
    }
    table tr {
      display: block;
      width: 100%;
    }
    table td {
      display: block;
      width: 100%;
    }
  }
}

.vertical-table-user {
  @media screen and (max-width: 1199px) {
    table {
      display: block;
      width: 100%;
    }
    table tbody {
      display: block;
      width: 100%;
    }
    table tr {
      display: block;
      width: 100%;
    }
    table td {
      display: block;
      width: 100%;
    }
  }
}

.item__paginate{
  width: 100%;
  margin: auto;
}

label {
    margin-bottom: 0;
}

.pagination{
  text-align: center;
  display: flex;
  justify-content: center; 
}

.pagination span{
  text-align: center;
}

.pagination a{
  color: #818181;
  display: block;
  width: 100%;
  height: 100%;
  font-weight: bold;
  padding: 10px;
}

.pagination a:hover{
  width: 40px;
  height: 40px;
  background-color: #abd5dd;
  color: #2b2e31;
  border-radius: 10%;
  padding: 10px;
}

.current{
  font-weight: bold;
  color: #2cb78b;
  padding: 10px;
}