/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
 .flash-message {
  border-radius: 5px;
  padding: 16px 24px;
  margin: 16px 0px;
}
 
.flash-message.notice {
  background-color: #99CCCC;
  color: #0067C0;
  border: solid 1px #33CCCC;
}
 
.flash-message.alert {
  background-color: #CC6699;
  color: #930403;
  border: solid 1px #930403;
}
 
 .link:hover {
   text-decoration: none !important;
 }
 
 .link {
   text-decoration: underline;
   color: black;
 }
 
.btn-login {
  width: 10em !important;
  height: 1em !important;
  background-color: #00fa9a !important;
  border-color: #00fa9a !important;
  color: black !important;
}

.btn-login:hover, .btn-login:not(:disabled):not(.disabled):active {
  background-color: #00cc7e !important;
  border-color: #00cc7e !important;
}

.btn-success {
  background-color: #00fa9a !important;
  border-color: #00fa9a !important;
  color: black;
}

.btn-success:hover, .btn-success:not(:disabled):not(.disabled):active {
  background-color: #00cc7e !important;
  border-color: #00cc7e !important;
}